body{
    padding:0px;
    margin:0px;
    font-family: "Pretendard", sans-serif;
    font-weight: 500;
    letter-spacing: -0.5px;
    background-color: #FDFBF7;
}
ul,li{
    padding:0px;
    margin:0px;
    list-style: none;
}
.header{
    padding-top: 22px;
    padding-bottom: 22px;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    z-index: 999;
    .header_in{
    width: 1520px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    .menu{
        display: flex;
        align-items: center;
        gap: 27px;
        height: 100%;
        img{
            height: 30px;
            display: block;
        }
    }
    .search{
        border-radius: 33px;
        overflow: hidden;
        width: 60%;
        height: 43px;
        padding-right: 17px;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        align-items: center;
        box-sizing: border-box;
        .category{
            display: flex;
            justify-content: center;
            box-sizing: border-box;
            gap: 8px;
            padding-left: 10px;
            padding-right: 5px;
            padding-top: 13px;
            padding-bottom: 13px;
            background-color: #FF9900;
            font-size: 16px;
            width: 110px;
            align-items: center;
            img{
                height: 8px;
                display: block;
            }
        }
        .search_button{
            align-items: center;
            img{
                height: 32px;
                display: block;
            }
        }
    }
    }
    .my_menu{
        color: #fff;
        display: flex;
        gap: 40px;
        .country{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 11px;
            .country_detail{
                .address{
                    font-size: 13px;
                }
                .korea{
                    font-size: 20px;
                }
            }
        }
        .my_details{
            display: flex;
            box-sizing: border-box;
            gap: 27px;
            text-align: center;
            .my_detail{
                font-size: 13px;
            }
        }
    }
}
.header_second{
    position: absolute;
    top: 70px;
    left: 0px;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    .header_second_in{
        width: 1520px;
        display: flex;
        .header_menu{
            display: flex;
            gap: 20px;
            font-size: 16px;
        }
    }
}
.banner{
    padding-top: 110px;
    width: 100%;
    position: relative;
    z-index: 0;
    img{
        width: 100%;
        align-items: center;
    }
    .arrow{
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 35%;
        width: 100%;
        .arrow_in img{
            width: 3vw;
        }
    }
    .order{
        position: absolute;
        bottom: 30px;
        left: calc(50% - 72.5px);
        img{
            width: 100px;
        }
    }
}
.attention{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    .attention_in{
        width: 1520px;
        .nowadays{
            font-size: 36px;
            text-align: center;
            padding-bottom: 30px;
        }
        .categorys{
            width: 1520px;
            position: relative;
            .category_details{
                display: flex;
                gap: 10px;
                justify-content: center;
                .category_detail{
                    padding: 10px 20px 10px 20px;
                    font-size: 15px;
                    border-radius: 30px;
                    border: 1px solid #FF9900;
                }
                .category_detail_n{
                    padding: 10px 20px 10px 20px;
                    font-size: 15px;
                    border-radius: 32px;
                    border: 1px solid #FF9900;
                    background-color: #FF9900;
                    color: #fff;
                }
            }
            .more{
                position: absolute;
                right: 0px;
                top: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                line-height: 8px;
                font-size: 15px;
                img{
                    width: 8px;
                }
            }
        }
        .attention_items{
            margin-top: 50px;
            box-sizing: border-box;
            margin-bottom: 40px;
            display: flex;
            justify-content: space-between;
            .attention_item{
                width: 272px;
                box-sizing: border-box;
                .attention_img{
                    border-radius: 50%;
                    overflow: hidden;
                    width: 272px;
                    height: 272px;
                    img{
                        width: 100%;
                    }
                }
                .attention_name{
                    margin-top: 20px;
                    text-align: center;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .attention_price{
                    margin-top: 8px;
                    text-align: center;
                    color: #525252;
                }
            }
        }
        .page{
            font-size: 15px;
            font-weight: 400;
            color: #000;
            width: 100%;
            text-align: center;
            .blank{
                display: inline-block;
                width: 15px;
            }
        }
    }
}
.selections{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    .selection{
        width: 1520px;
        .nowadays{
            font-size: 36px;
            text-align: center;
            padding-bottom: 40px;
        }
        .each{
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
            .each_category{
                width: 195px;
                .each_img{
                    width: 195px;
                    height: 195px;
                    background-color: #C7CED6;
                    border-radius: 67px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        max-width: 60%;
                        max-height: 60%;
                        display: block;
                        filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.25));
                    }
                }
                .each_name{
                    margin-top: 20px;
                    text-align: center;
                    font-size: 16px;
                }
            }
        }
    }
}
.banner2{
    width: 1920px;
        img{
        width: 100%;
    }
}
.bestsellers{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    .bestseller{
        width: 1520px;
        .top{
            font-size: 36px;
            text-align: center;
            padding-bottom: 40px;
        }
    }
    table{
        width: 1520px;
        height: 55px;
        border-collapse: collapse;
        text-align: center;
        td{
            width: 12.5%;
            border: solid 1px #FF9900;
            text-align: center;
        }
        .first{
            width: 12.5%;
            border: solid 1px #FF9900;
            background-color: #FF9900;
            color: #fff;
            text-align: center;
        }
    }
    .books{
        width: 1520px;
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        .book{
            position: relative;
            width: 272px;
            .bk_number{
                position: absolute;
                display: flex;
                top: 0px;
                right: 0px;
                width: 57px;
                height: 45px;
                background-color: #FF9900;
                color: #fff;
                font-size: 26px;
                font-weight: 700;
                align-items: center;
                justify-content: center;
                border-radius: 0px 0px 13px 13px;
                filter: drop-shadow(0px 5px 3px rgba(80, 48, 0, 0.5));
            }
        }
        .bk_image{
            width: 100%;
            height: 365px;
            img{
                height: 100%;
                display: block;
            }
        }
        .bk_name{
            margin-top: 20px;
            font-size: 18px;
            color: #000;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .bk_price{
            margin-top: 7px;
            font-size: 18px;
            color: #525252;
        }
    }
}